* {
    margin: 0;
    padding: 0;
    /* color: #FFFFFF; */
}

.alignTxt{
    text-align: left;
    color: #E2E8F0;
}

.ele:hover{
    background: #68D3CA;
    cursor: pointer;
}

.cover{
    background: linear-gradient(270deg, #47526F 0%, #192339 100%);
}